@model List<TSG_Blog.Models.Post>

@{
    ViewBag.Title = "Index";
}

    <div class="row">

        @foreach (var post in Model)
        {
           
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">@post.Title - </h5>
                <div class="card-body">
                    @Html.Raw(@post.HtmlContent)
                    <p>@post.Date</p>
                </div>
            </div>
        </div>
            

            
        }

    </div>